td {
    border: 1px solid turquoise;
    border-collapse: collapse;
}

.node-finish {
    animation-name: nodeFinish;
    animation-duration: 1.5s;
    animation-timing-function: ease-out;
    background: url('https://clementmihailescu.github.io/Pathfinding-Visualizer/public/styling/circle.svg') no-repeat center center;
    animation-delay: 0;
    animation-direction: alternate;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-play-state: running;
}

@keyframes nodeFinish {
    0% {
        transform: scale(0.6);
    }

    50% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1);
    }
}

.node-start {
    animation-name: nodeStart;
    animation-duration: 1.5s;
    animation-timing-function: ease-out;
    background: url('https://clementmihailescu.github.io/Pathfinding-Visualizer/public/styling/triangletwo-right.svg') no-repeat center center;
    animation-delay: 0;
    animation-direction: alternate;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-play-state: running;
}

@keyframes nodeStart {
    0% {
        transform: scale(0.6);
    }

    50% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1);
    }
}

.node-wall {
    border: none;
    animation-name: nodeWall;
    background-color: rgb(12, 53, 71);
    animation-duration: 0.5s;
    animation-timing-function: ease-out;
    animation-delay: 0;
    animation-direction: alternate;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-play-state: running;
}
  
@keyframes nodeWall {
    0% {
        transform: scale(0.6);
        background-color: rgb(12, 53, 71);
    }

    50% {
        transform: scale(1.2);
        background-color: rgb(12, 53, 71);
    }

    100% {
        transform: scale(1);
        background-color: rgb(12, 53, 71);
    }
}

.node-weight {
  animation-name: nodeWeight;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
  background: url('https://clementmihailescu.github.io/Pathfinding-Visualizer/public/styling/weight.svg') no-repeat center center;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

@keyframes nodeWeight {
  0% {
      transform: scale(0.6);
  }

  50% {
      transform: scale(1.2);
  }

  100% {
      transform: scale(1);
  }
}

.node-visited {
    animation-name: visitedAnimation;
    animation-duration: 1.5s;
    animation-timing-function: ease-out;
    animation-delay: 0;
    animation-direction: alternate;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-play-state: running;
  }
  
  @keyframes visitedAnimation {
    0% {
      transform: scale(0.3);
      background-color: rgba(0, 0, 66, 0.75);
      border-radius: 100%;
    }
  
    50% {
      background-color: rgba(17, 104, 217, 0.75);
    }
  
    75% {
      transform: scale(1.2);
      background-color: rgba(0, 217, 159, 0.75);
    }
  
    100% {
      transform: scale(1);
      background-color: rgba(0, 190, 218, 0.75);
    }
  }

  .node-weight-visited {
    animation-name: visitedAnimation;
    animation-duration: 1.5s;
    animation-timing-function: ease-out;
    background: url('https://clementmihailescu.github.io/Pathfinding-Visualizer/public/styling/weight.svg') no-repeat center center;
    animation-delay: 0;
    animation-direction: alternate;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-play-state: running;
  }

  .node-weight-shortest-path {
    animation-name: shortestPath;
    animation-duration: 1.5s;
    animation-timing-function: ease-out;
    background: url('https://clementmihailescu.github.io/Pathfinding-Visualizer/public/styling/weight.svg') no-repeat center center;
    animation-delay: 0;
    animation-direction: alternate;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-play-state: running;
  }

  .node-shortest-path {
    border: none;
    animation-name: shortestPath;
    animation-duration: 1.5s;
    animation-timing-function: ease-out;
    animation-delay: 0;
    animation-direction: alternate;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-play-state: running;
  }
  
  @keyframes shortestPath {
    0% {
      transform: scale(0.6);
      background-color: rgb(255, 254, 106);
    }
  
    50% {
      transform: scale(1.2);
      background-color: rgb(255, 254, 106);
    }
  
    100% {
      transform: scale(1);
      background-color: rgb(255, 254, 106);
    }
  }

  button:hover {
    background-color: #f7f7f7 !important;
    cursor: pointer;
  }