table {
    border: 1px solid turquoise;
    border-collapse: collapse;
    margin: auto;
    margin-top: 1%;
    padding: 1rem;
}

button:hover{
    background-color: #1A1A1D !important;
    color: white !important;
    transition-duration: 1s !important;
}

button::selection{
    background-color: #1A1A1D !important;
    color: white !important;
}

.loader {
    border: 4px solid #f3f3f3; /* Light grey */
    border-top: 4px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 20px;
    height: 20px;
    animation: spin 2s linear infinite;
    margin-right: 3px;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }